header, footer {
    border: 2px solid;
    background-color: lightgoldenrodyellow;
}

main {
    background-color: lightpink;
}

body {
    font-family: arial;
}

a:hover {
    background-color: blanchedalmond;
}

a:active {
    color: yellow;
}

nav li {
    list-style: none;
    display: inline;
}

footer {
    text-align: center;
}